.blog-banner {
    width: 100%;
    padding: 250px 0px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/page-banner-1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.blog-details-banner {
   width: 100%;
   padding: 250px 0px;
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/page-banner-4.jpg);
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
 }
    .blog-details .block-quote {
    background-color: #fafafa;
    padding: 30px !important;
    border-left: 3px solid #f5890d;
    border-right: 3px solid #f5890d;
    border-radius: 5px;
    margin: 0 0 1rem;
}
    .block-gallery.columns-3 {
    padding-left: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.block-gallery.columns-3 li {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}
figure {
    margin: 0 0 1rem;
}
.article-tags {
    max-width: 50%;
    color: #6b6b84;
}
.article-tags a {
    display: inline-block;
    margin-right: 2px;
    font-weight: 500;
    color: #6b6b84;
    text-decoration: none;
}
.article-share .social {
    padding-left: 0;
    list-style-type: none;
    text-align: right;
    margin-bottom: 0;
}
.social li i {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 34px;
    border-radius: 50%;
    background-color: #eeeef0;
    text-align: center;
}
.widget-title {
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    font-size: 20px;
}
.widget-title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    bottom: -1px;
    background: #ea512e;
}
.widget_search {
    background-color: #ffffff;
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px;
}
.search-field {
    background-color: transparent;
    height: 50px;
    padding: 8px 15px;
    border: 1px solid #eeeeee;
    width: 100%;
    display: block;
    border-radius: 5px;
}
.widget_search form button {
    background-color: #eeeeee;
    color: #f5890d;
    height: 40px;
    width: 40px;
    right: 5px;
    transition: 0.5s;
    top: 5px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.widget_search form button i {
    position: absolute;
    top: 52%;
    transform: translateY(-52%);
}
.widget_search form button:hover  {
   background: #f5890d;
   color: #ffffff;
}
.widget_ketan .item {
    overflow: hidden;
    margin-bottom: 15px;
}
.widget_ketan {
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px;
}
.item .thumb {
    float: left;
    height: 80px;
    overflow: hidden;
    display: block;
    position: relative;
    width: 80px;
    margin-right: 15px;
    z-index: 1;
}
.thumb .fullimage {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 5px;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center center !important;
}
.item .info {
    overflow: hidden;
    margin-top: 5px;
}
.item .info h4:hover {
   color: #f5890d;
}
.widget_categories {
    background-color: #ffffff;
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    border-radius: 5px;
    padding: 25px;
}
.widget_categories ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.widget_categories ul li {
    position: relative;
    margin-bottom: 12px;
    overflow: hidden;
    color: #1b0238;
    padding-left: 18px;
    font-size: 15px;
    font-weight: 500;
}
.widget_categories ul li::before {
    background: #ea512e;
    height: 8px;
    width: 8px;
    content: '';
    border-radius: 50%;
    left: 0;
    top: 7px;
    position: absolute;
}
.widget_categories ul li:hover a{
    color: #f5890d;
}
.widget_tag {
    background-color: #ffffff;
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    border-radius: 5px;
    padding: 25px;
}
.tagcloud a {
    background: #f5f5f5;
    display: inline-block;
    color: #1b0238;
    padding: 7px 15px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px !important;
    margin-top: 8px;
    margin-right: 5px;
    text-decoration: none;
}
.tagcloud a:hover{
    background: #f5890d;
    color: #ffffff;
}