.error-content {
    text-align: center;
    margin: 0 auto;
    max-width: 750px;
  }
  
  .error-content h3 {
    font-size: 38px;
    margin-top: 45px;
    margin-bottom: 20px;
  }
  
  .error-content p {
    max-width: 520px;
    margin: 0 auto 25px;
    font-size: 15px;
  }
  
  .error-content .default-btn {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #ea512e;
    color: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .error-content .default-btn:hover {
    background-color: #f5890d;
  }