.register-form {
    padding-top: 10px;
    border-radius: 5px;
    background: transparent;
    /* -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
            box-shadow: 0 0 10px rgba(51, 51, 51, 0.1); */
    max-width: 650px;
    margin: auto;
  }
  
  .register-form h2 {
    margin-bottom: 30px;
    font-size: 36px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
  }
  
  .register-form form .form-group {
    margin-bottom: 15px;
  }
  
  .register-form form .form-group .form-control {
    height: 60px;
    padding: 0 0 0 15px;
    line-height: initial;
    color: #1b0238;
    background-color: transparent !important;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    -webkit-box-shadow: unset !important;
            box-shadow: unset !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 15px;
    font-weight: 500;
  }
  
  .register-form form .form-group .form-control:focus {
    border: 1px solid #ea512e;
  }
  
  .register-form form .form-group .form-control:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .register-form form .form-group .form-control:focus:-ms-input-placeholder {
    color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .register-form form .form-group .form-control:focus::-ms-input-placeholder {
    color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .register-form form .form-group .form-control:focus::placeholder {
    color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .register-form form .form-check {
    font-weight: 500;
    font-size: 15px;
    color: #6b6b84;
  }
  
  .register-form form .form-check-input {
    margin-top: 2px;
  }
  
  .register-form form button {
    border: none;
    margin-top: 25px;
    padding: 15px 30px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ea512e;
    color: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .register-form form button:hover {
    background-color: #f5890d;
  }
  
  .register-form .important-text {
    margin-top: 15px;
  }
  
  .register-form .important-text p {
    font-size: 15px;
    color: #656565;
  }
  
  .register-form .important-text p a {
    color: #656565;
    font-weight: 600;
  }
  
  .register-form .important-text p a:hover {
    color: #ea512e;
  }
  