@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Roboto&family=Sacramento&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  font-family: "Roboto",sans-serif;
}
/* HEADER ------------------------------------------------------------------------------------------------------------ */
.navbar .navbar-nav .nav-item a {
        color: #1b0238;
        font-size: 16px;
        font-weight: 600 !important;
    }
.nav-link:hover{
    color: #ea512e !important;
}
.nav-link :hover{
    color: #ea512e !important;
}
.nav-link{
    transition: color .15s ease-in-out;    
}
.default-btn{
    background-color: #ea512e;
    border-radius: 10px;
    transition: 0.7s ease;
    border: 0px;padding: 12px 33px;
}
.default-btn:hover{
    box-shadow: #ff9a27 0px 54px 0px 0px inset;
    background-color: #ea512e;
}
.dropdown-menu{
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 5px 12px 0px rgb(184, 181, 181);
    line-height: 39px;
    width: 280px;   
    animation: up linear 0.3s;
}
@keyframes up {
    0% {translate: 0px 10px;opacity: 30%;}
    100% {translate: 0px 0px;}
  }
.navbar .dropdown:hover .dropdown-menu{
    display: block;
}
.flip{animation: flip1 2s ease;}
@keyframes flip1 {
    from{transform: rotateY(90deg);
    to{transform: rotateY(0deg);}}
}
.dropdown-item:hover{
    color: #ea512e !important;
}
/* BANNER ------------------------------------------------------------------------------------------------------------ */
.banner{
    background: url(../img/main-banner-bg.jpg);
    width: 100%;min-height: 700px;
    background-size: 100% 100%;
}
.horizontal{
    animation: mymove 2s infinite alternate linear;
}
@keyframes mymove {
    0% {translate: 0px 0px;}
    100% {translate: 30px 0px;}
  }
.banner .up{
    animation: moveup 2s infinite alternate linear;
}
@keyframes moveup {
    0% {translate: 0px 0px;}
    100% {translate: 0px 30px;}
  }
.banner .p1{
    font-size: 17px;
    font-weight: 600;
    padding-top: 90px;
    color: #ea512e;
    margin-bottom: 9px !important;
}
.banner .p2{
    font-size: 60px;
    font-weight: 600;
    color: #1b0238;
    line-height: 77px !important;
    font-family: 'Catamaran', sans-serif !important;
    letter-spacing: 2px;
}
.banner .p3{
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.default-btn1{
    background-color: #ff9a27;
    border-radius: 10px;
    transition: 0.6s ease;
    border: 0px;padding: 12px 33px;
}
.default-btn1:hover{
    box-shadow: #ea512e 0px 54px 3px 0px inset;
    background-color: #ff9a27;
}
.row>*{
    padding-right: 0px !important;
}
.mb-7{
    margin-bottom: 130px;
}
.mb-6{
    margin-bottom: 90px;
}
/* Who We Are -------------------------------------------------------------------------------------------------- */
.title{
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1b0238;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
    line-height: 55px;
}
.para{
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.list  li{
    width: 50%;
    margin: 10px 0px;
    color: #1b0238;
    font-family: "Catamaran", sans-serif;
    cursor: pointer;
}
.list  li span{ 
    height: 30px;
    width: 30px;
    padding: 7px 12px;
    color: #ffffff;
    background-color: #ea512e;
    border-radius: 50%;
    text-align: center;
    transition: all 0.6s ease-in-out;
}
.list  li:hover span{
    background-color: #ff9a27;
}
.list{
    margin-bottom: 0px;
}
.rotate{
    animation: rotate 6s linear infinite;
    border-top: 29px solid #ff9a27;
    border-left: 22px solid #ff9a27;
    outline-offset: -1px;
}
@keyframes rotate {
    0%{box-shadow: -15px -15px 0px 15px #c73f0d;outline: 5px solid #ff9a27;}
    25%{box-shadow: 15px -15px 0px 15px #c73f0d;outline: 20px solid #ff9a27;}
    50%{box-shadow: 15px 15px 0px 15px #c73f0d;outline: 10px solid #ff9a27;}
    75%{box-shadow: -15px 15px 0px 15px #c73f0d;outline: 15px solid #ff9a27;}
    100%{box-shadow: -15px -15px 0px 15px #c73f0d;outline: 0px solid #ff9a27;}
}
/* Classes starts ------------------------------------------------------------------------------------------------- */
.classes{
    background-color: #fdf6ed;
}
.image{    
    transition: all 0.2s linear;
}
.cardiv:hover .image{
    transform: scale(1.15)rotate(2deg);
}
.texts{
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.cardcontent{
    padding: 6px 30px;
    padding-bottom: 36px;
}
.text-org{
    color: #ea512e;
}
.bg-org{
    background-color: #ea512e;
}
.mycard:hover .org{
    color: #ea512e;
    transition: all 0.6s ease;
}
.cardo:hover .price{
    background-color: #ff9a27 !important;
    transition: all 0.3s ease;
}
